<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recruiter testing</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>

      .buttonHolder {
        float: left;
        width: 33%;
        text-align: center;
        box-sizing: border-box;
      }

      .btn1 {
        padding: 4.375rem 5.75rem !important;
        margin-top: 40%;
      }

      
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
    
    
  <body>
  
  <div class="buttonHolder">
    <form method="post">
      <a href="/sliders">  
       <input type="submit" name="submit_button" value="Financiën" class="btn btn-primary btn1">
      </a>
    </form>
  </div>
  <div class="buttonHolder">
    <form method="post">
      <a href="/sliders">  
        <input type="submit" name="submit_button" value="Klantenservice" class="btn btn-primary btn1">
      </a>
    </form>
  </div>
  <div class="buttonHolder">
    <form method="post">
      <a href="/sliders">  
        <input type="submit" name="submit_button" value="Gezondheidszorg" class="btn btn-primary btn1">
      </a>
    </form>
  </div>

</body>
</html>